.department-label-container {
  display: flex;
  padding-top: 96px;
  padding-bottom: 64px;

   @include media-down(tablet) {
    padding-top: 80px;
    padding-bottom: 48px;

    &:not(:first-of-type) {
      padding-top: 64px;
    }
  }

  h2 {
    padding-left: 15px;
  }
}

.department-icon {
  width: 35px;
  height: 35px
}

