/*=============================================>>>>>
= Default typography styles =
===============================================>>>>>*/

body {
  @include body-font();
  font-size-adjust: auto;
  text-align: left;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  text-shadow: 0 0 1px transparent;
}

// --------------------------------------------------------------------------
//   Headings
// --------------------------------------------------------------------------

h1 + h2,
h2 + h3,
h3 + h4,
h5 + h6 {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font();
  line-height: 1.2em;
  &:first-child {
    margin-top: 0;
  }
}

h1 { @include h1; }
h2 { @include h2; }
h3 { @include h3; }
h4 { @include h4; }
h5 { @include h5; }
h6 { font-size: 14px; }

// --------------------------------------------------------------------------
//   Content Elements
// --------------------------------------------------------------------------

a {
  text-decoration: none;
  color: $textcolor;
  &:hover {
    text-decoration: underline;
  }
}

// --------------------------------------------------------------------------
//   Common Classes
// --------------------------------------------------------------------------

.overline {
  font-size: 16px;
  font-weight: $font-weight-medium;
  line-height: 1.25em;
  text-transform: capitalize;
  margin-bottom: 10px;

  &.hero {
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }
}