.jobs-select-container {
  min-width: 200px;

  @include media-down(tablet) {
    min-width: 200px;
  }

  &:first-of-type {
    margin-right: 32px;
  }
}

.overline.select-label {
  margin-bottom: 16px;
   padding-top: 80px;
   @include media-down(tablet) {
    padding-top: 48px;
  }
}

.fa-caret-down {
  color: #333333;
  margin-right: 5px;
}
