.hero-container {
  @include display-grid;
  @include media-up(tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include media-down(tablet) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.hero-content {
  max-width: 570px;
}

.hero-image {
  max-width: 350px;
}

.open-positions-img {
  margin-top: -110%;
}

.open-positions-gif {
  max-width: 100%;
}

.hidden {
  opacity: 0;
}

.center {
  place-items: center;
  display: grid;
}

.hidden-mobile {
  @include media-down(tablet) {
    display: none;
  }
}
